<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/register-and-broadcast-node" method="POST">
    Enter new node url:<input type="text" name="newNodeUrl" required>
    <button>Submit</button>
</form>
</body>
</html>
