<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/transaction/broadcast" method="POST">
    Amount:<input type="number" name="amount" required>
    Sender:<input type="text" name="sender" required>
    Recipient<input type="text" name="recipient" required>
    <button>Submit</button>
</form>
</body>
</html>
